
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #0663BE;
    --color2: #03294e;
    
    --background: #EE7908;
    --card: #be620681;
    
    --text: #212529;
    --border: #3c3d3d;
}

body {
    display: grid;

    font-family: "Comfortaa", Arial, Helvetica, sans-serif;
    color: var(--text);
        
    background: url("../images/wallpaper.jpg") var(--background) center center repeat;
    background-size: cover;
}

header {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
    
header > h1 {
    font-size: 45px;
    text-shadow: 3px 2px #a59a85;
}
    
header > p {
    font-style: oblique;
    font-size: 22px;
    color: #383838;
    
    margin-top: 10px;
}
        
main {
    margin: auto;
}
    
section {
    background: var(--card);
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(36, 36, 36, 0.596);
    backdrop-filter: blur(2px);

    padding: 20px;
    margin-bottom: 20px;

    width: 90vw;
}
    
section > h2 {
    font-size: 28px;
    margin-bottom: 15px;
}
        
.form-group {
    margin-bottom: 10px;
}

.form-group > label {
    font-size: 20px;
}
    
input {
    font-size: 18px;

    height: 50px;
    width: 100%;

    padding: 10px;
    margin-top: 5px;

    border: 2px solid var(--border);
    border-radius: 6px;
}

input::placeholder {
    font-size: 18px;
}
    
button {
    font-size: 20px;

    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background: var(--color1);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
    
button:hover {
    background-color: var(--color2);
}

button:active {
    transform: translateY(2px);
}

#links-container > div {
    margin-bottom: 10px;
}

#links-container > a {
    font-size: 18px;
    text-decoration: none;
    color: var(--color1);
}

#links-container > a:hover {
    text-decoration: underline;
    color: var(--color2);
}

footer {
    color: var(--text);
    text-align: center;
}

footer > p {
    text-transform: capitalize;
    font-style: italic;
}

footer > p > a {
    color: var(--text);
    text-decoration: none;
}

footer > p > a:hover {
    color: var(--color1);
    text-decoration: underline;
}